<!DOCTYPE html>

@{
    var request = Context.Request;

    int? userId = request.Cookies.ContainsKey("UserId") ? int.Parse(request.Cookies["UserId"]) : null;
    int? userType = request.Cookies.ContainsKey("UserType") ? int.Parse(request.Cookies["UserType"]) : null;
    int? branchId = request.Cookies.ContainsKey("BranchID") ? int.Parse(request.Cookies["BranchID"]) : null;
    int? departmentId = request.Cookies.ContainsKey("DepartmentID") ? int.Parse(request.Cookies["DepartmentID"]) : null;
}

<html lang="ar"
      class="light-style layout-menu-fixed"
      dir="rtl"
      data-theme="theme-default"
      data-assets-path="~/assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>مجموعات الإدخال - النماذج | Sneat - قالب لوحة تحكم HTML من Bootstrap 5 - النسخة المدفوعة</title>
    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/favicon.ico" />

    <!-- الخطوط -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght 0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- الأيقونات -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />

    <!-- CSS الأساسي -->
    <link rel="stylesheet" href="~/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />

    <!-- CSS الخاص بالبائعين -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- مساعدات -->
    <script src="~/assets/vendor/js/helpers.js"></script>

    <!-- تخصيص القالب -->
    <script src="~/assets/js/config.js"></script>

    <!-- تعديل الـ CSS لتحديد مكان المنيو على اليمين -->
    <style>
        .menu-item.active > .menu-link {
            background-color: #007bff;
            color: #fff !important;
        }

        .menu-item.open > .menu-link {
            background-color: #0056b3;
            color: #fff !important;
        }


        /* تعديل قائمة المنيو لتكون على اليمين */
        .layout-menu {
            right: 0; /* تحويل القائمة إلى اليمين */
            left: unset; /* إزالة التأثير الافتراضي للقائمة على اليسار */
        }

        .layout-menu-toggle {
            left: unset; /* تعديل الزر ليتناسب مع القائمة على اليمين */
            right: 0;
        }


    </style>
</head>

<body dir="rtl">
    <!-- حاوية الصفحة -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- القائمة الجانبية على اليمين -->
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="index.html" class="app-brand-link gap-2">
                        <span class="app-brand-logo demo">
                            <img src="~/assets/img/logo/lg.png" alt="EmEco Logo" style="width: 50px; height: auto;">
                        </span>
                        <span class="app-brand-text demo text-body fw-bolder">EMECO</span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                    
                    @* <li class="menu-item @(Html.IsActive("Index", "Home", "Account", true))">
                    <a href="~/Account/Home/Index/" class="menu-link">
                        <div data-i18n="Without menu">الملف الشخصي</div>
                    </a>
                    </li> *@

                    @if (userType==1)
                    {
                      <ul class="menu-inner py-1">
                        <li class="menu-item">
                            <a href="~/Employee/Leave/Create" class="menu-link">
                                <div data-i18n="Without navbar">اضافة أجازه</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="~/Employee/leave/index" class="menu-link">
                                <div data-i18n="Without navbar">قائمة الاجازات</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="~/Employee/EmployeePermission/Create" class="menu-link">
                                <div data-i18n="Without navbar">اضافة اذن</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="~/Employee/EmployeePermission/index" class="menu-link">
                                <div data-i18n="Without navbar">قائمةالاذنون</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="~/Employee/EmployeeMission/Create" class="menu-link">
                                <div data-i18n="Without navbar">اضافة مأمورية رسمية</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="~/Employee/EmployeeMission/index" class="menu-link">
                                <div data-i18n="Without navbar">قائمةالمأموريات</div>
                            </a>
                        </li>

                    </ul>
                }
                @if (userType == 2)
                    {<ul>
                        <li class="menu-item">
                            <a href="~/Employee/Leave/Create" class="menu-link">
                                <div data-i18n="Without navbar"> اضافة أجازة إدارة</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="~/Employee/leave/index" class="menu-link">
                                <div data-i18n="Without navbar"> قائمة الاجازات </div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="~/Employee/EmployeePermission/Create" class="menu-link">
                                <div data-i18n="Without navbar">اضافة اذن ادارة</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="~/Employee/EmployeePermission/index" class="menu-link">
                                <div data-i18n="Without navbar">قائمةالاذنون</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="~/Employee/EmployeeMission/Create" class="menu-link">
                                <div data-i18n="Without navbar"> اضافة مأمورية رسمية ادارة</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="~/Employee/EmployeeMission/index" class="menu-link">
                                <div data-i18n="Without navbar">قائمةالمأموريات</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-layout"></i>
                                <div data-i18n="Layouts">التقارير </div>
                            </a>

                            <ul class="menu-sub">
                                <li class="menu-item @(Html.IsActive("AddEdite", "EmployeeData", "Employee", true))">
                                    <a href="~/Attendance/AttendanceReport/Index" class="menu-link">
                                        <div data-i18n="Without navbar">التمام اليومي</div>
                                    </a>
                                </li>


                                <li class="menu-item">
                                    <a href="~/Employee/leave/index" class="menu-link">
                                        <div data-i18n="Without navbar">قائمة تقارير اجازات الادارات</div>
                                    </a>
                                </li>

                                <li class="menu-item">
                                    <a href="~/Employee/leave/index" class="menu-link">
                                        <div data-i18n="Without navbar">الاجازات خلال مدة</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                        
                    }
                   
                    @if (userType==3)
                    {
                        <ul>
                    <li class="menu-item @(Html.IsActive("IndexALL", "EmployeeData", "Employee", true))">
                        <a href="~/Employee/EmployeeData/IndexALL" class="menu-link">
                            <div data-i18n="Without menu">قائمة الموظفين</div>
                        </a>
                    </li>
                    <li class="menu-item @(Html.IsActive("AddEdite", "EmployeeData", "Employee", true))">
                        <a href="~/Employee/EmployeeData/AddEdite" class="menu-link">
                            <div data-i18n="Without menu">بيانات الموظفين</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="~/Employee/leave/index" class="menu-link">
                            <div data-i18n="Without navbar">قائمة الاجازات</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="~/Employee/Leave/Create" class="menu-link">
                            <div data-i18n="Without navbar">اضافة أجازه</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="~/Employee/EmployeePermission/Create" class="menu-link">
                            <div data-i18n="Without navbar">اضافة اذن</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="~/Employee/EmployeePermission/index" class="menu-link">
                            <div data-i18n="Without navbar">قائمةالاذنون</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="~/Employee/EmployeeMission/Create" class="menu-link">
                            <div data-i18n="Without navbar">اضافة مأمورية رسمية</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="~/Employee/EmployeeMission/index" class="menu-link">
                            <div data-i18n="Without navbar">قائمةالمأموريات</div>
                        </a>
                    </li>
                    <!-- البيانات الاساسية -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-layout"></i>
                            <div data-i18n="Layouts">البيانات الاساسية</div>
                        </a>

                        <ul class="menu-sub">
                            <li class="menu-item @(Html.IsActive("Index", "Branches", "LookUP", true))">
                                <a href="~/LookUP/Branches/Index" class="menu-link">
                                    <div data-i18n="Without menu">الفروع</div>
                                </a>
                            </li>


                            <li class="menu-item">
                                <a href="~/LookUP/Department/index" class="menu-link">
                                    <div data-i18n="Without navbar">الادارات</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="~/LookUP/JopData/index" class="menu-link">
                                    <div data-i18n="Container">الوظايف</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="layouts-fluid.html" class="menu-link">
                                    <div data-i18n="Fluid">انواع الاجازات</div>
                                </a>
                            </li>
                          
                        </ul>
                    </li>

                    <!--ماكينة البصمة-->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-layout"></i>
                            <div data-i18n="Layouts">البصمات </div>
                        </a>

                        <ul class="menu-sub">
                            <li class="menu-item @(Html.IsActive("AddEdite", "EmployeeData", "Employee", true))">
                                <a href="~/Employee/EmployeeData/AddEdite" class="menu-link">
                                    <div data-i18n="Without menu">ماكينات البصمة</div>
                                </a>
                            </li>


                            <li class="menu-item">
                                <a href="~/Employee/leave/index" class="menu-link">
                                    <div data-i18n="Without navbar">سحب البصمة</div>
                                </a>
                            </li>
                         

                        </ul>
                    </li>

                    <!--ماكينة البصمة-->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-layout"></i>
                            <div data-i18n="Layouts">التقارير </div>
                        </a>

                        <ul class="menu-sub">
                            <li class="menu-item @(Html.IsActive("AddEdite", "EmployeeData", "Employee", true))">
                                <a href="~/Attendance/AttendanceReport/Index" class="menu-link">
                                    <div data-i18n="Without navbar">التمام اليومي</div>
                                </a>
                            </li>


                            <li class="menu-item">
                                <a href="~/Employee/leave/index" class="menu-link">
                                    <div data-i18n="Without navbar">قائمة تقارير اجازات الادارات</div>
                                </a>
                            </li>

                            <li class="menu-item">
                                <a href="~/Employee/leave/index" class="menu-link">
                                    <div data-i18n="Without navbar">الاجازات خلال مدة</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="menu-inner py-1" hidden>
                    <!-- لوحة القيادة -->
                    <li class="menu-item">
                        <a href="index.html" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">لوحة القيادة</div>
                        </a>

                    </li>

                    <!-- الموظفين -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-layout"></i>
                            <div data-i18n="Layouts">الموظفين</div>
                        </a>

                        <ul class="menu-sub">
                            <li class="menu-item @(Html.IsActive("AddEdite", "EmployeeData", "Employee", true))">
                                <a href="~/Employee/EmployeeData/AddEdite" class="menu-link">
                                    <div data-i18n="Without menu">بيانات الموظفين</div>
                                </a>
                            </li>


                            <li class="menu-item">
                                <a href="~/Employee/leave/index" class="menu-link">
                                    <div data-i18n="Without navbar">الاجازات</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="layouts-container.html" class="menu-link">
                                    <div data-i18n="Container">حاوية</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="layouts-fluid.html" class="menu-link">
                                    <div data-i18n="Fluid">مرن</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="layouts-blank.html" class="menu-link">
                                    <div data-i18n="Blank">فارغ</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- التصاميم -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-layout"></i>
                            <div data-i18n="Layouts">الموظفين</div>
                        </a>
                        <ul class="menu-inner py-1">
                            <!-- لوحة التحكم -->
                            <li class="menu-item">
                                <a href="index.html" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                                    <div data-i18n="Analytics">لوحة التحكم</div>
                                </a>
                            </li>

                            <!-- التصاميم -->
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <i class="menu-icon tf-icons bx bx-layout"></i>
                                    <div data-i18n="Layouts">التصاميم</div>
                                </a>

                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a href="layouts-without-menu.html" class="menu-link">
                                            <div data-i18n="Without menu">بدون قائمة</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="layouts-without-navbar.html" class="menu-link">
                                            <div data-i18n="Without navbar">بدون شريط تنقل</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="layouts-container.html" class="menu-link">
                                            <div data-i18n="Container">حاوية</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="layouts-fluid.html" class="menu-link">
                                            <div data-i18n="Fluid">مرن</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="layouts-blank.html" class="menu-link">
                                            <div data-i18n="Blank">فارغ</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="menu-header small text-uppercase">
                                <span class="menu-header-text">الصفحات</span>
                            </li>
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <i class="menu-icon tf-icons bx bx-dock-top"></i>
                                    <div data-i18n="Account Settings">إعدادات الحساب</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a href="pages-account-settings-account.html" class="menu-link">
                                            <div data-i18n="Account">الحساب</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-account-settings-notifications.html" class="menu-link">
                                            <div data-i18n="Notifications">الإشعارات</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-account-settings-connections.html" class="menu-link">
                                            <div data-i18n="Connections">الاتصالات</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                                    <div data-i18n="Authentications">المصادقات</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a href="auth-login-basic.html" class="menu-link" target="_blank">
                                            <div data-i18n="Basic">تسجيل الدخول</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="auth-register-basic.html" class="menu-link" target="_blank">
                                            <div data-i18n="Basic">التسجيل</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="auth-forgot-password-basic.html" class="menu-link" target="_blank">
                                            <div data-i18n="Basic">نسيت كلمة المرور</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                                    <div data-i18n="Misc">متنوع</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a href="pages-misc-error.html" class="menu-link">
                                            <div data-i18n="Error">خطأ</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pages-misc-under-maintenance.html" class="menu-link">
                                            <div data-i18n="Under Maintenance">تحت الصيانة</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- المكونات -->
                            <li class="menu-header small text-uppercase"><span class="menu-header-text">المكونات</span></li>
                            <!-- البطاقات -->
                            <li class="menu-item">
                                <a href="cards-basic.html" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-collection"></i>
                                    <div data-i18n="Basic">البطاقات</div>
                                </a>
                            </li>
                            <!-- واجهة المستخدم -->
                            <li class="menu-item">
                                <a href="javascript:void(0)" class="menu-link menu-toggle">
                                    <i class="menu-icon tf-icons bx bx-box"></i>
                                    <div data-i18n="User interface">واجهة المستخدم</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a href="ui-accordion.html" class="menu-link">
                                            <div data-i18n="Accordion">الأكورديون</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-alerts.html" class="menu-link">
                                            <div data-i18n="Alerts">التنبيهات</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-badges.html" class="menu-link">
                                            <div data-i18n="Badges">الشارات</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-buttons.html" class="menu-link">
                                            <div data-i18n="Buttons">الأزرار</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-carousel.html" class="menu-link">
                                            <div data-i18n="Carousel">كاروسيل</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-collapse.html" class="menu-link">
                                            <div data-i18n="Collapse">الطي</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-dropdowns.html" class="menu-link">
                                            <div data-i18n="Dropdowns">القوائم المنسدلة</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-footer.html" class="menu-link">
                                            <div data-i18n="Footer">التذييل</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-list-groups.html" class="menu-link">
                                            <div data-i18n="List Groups">مجموعات القوائم</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-modals.html" class="menu-link">
                                            <div data-i18n="Modals">النوافذ المنبثقة</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-navbar.html" class="menu-link">
                                            <div data-i18n="Navbar">شريط التنقل</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-offcanvas.html" class="menu-link">
                                            <div data-i18n="Offcanvas">القائمة الجانبية</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-pagination-breadcrumbs.html" class="menu-link">
                                            <div data-i18n="Pagination &amp; Breadcrumbs">التصفح و الفتات</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-progress.html" class="menu-link">
                                            <div data-i18n="Progress">التقدم</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-spinners.html" class="menu-link">
                                            <div data-i18n="Spinners">الدوران</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-tabs-pills.html" class="menu-link">
                                            <div data-i18n="Tabs &amp; Pills">التبويبات والأقراص</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="ui-toasts.html" class="menu-link">
                                            <div data-i18n="Toasts">التنبيهات المؤقتة</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </li>
                </ul>
                    }
                   
                    @if (userType==4)
                    {
                        <ul>
                        <li class="menu-item">
                            <a href="~/html/index.html" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                                <div data-i18n="Analytics">الرئيسية</div>
                            </a>
                        </li>
                        </ul>
                        
                    }
            </aside>


            <!-- / القائمة الجانبية -->
            <!-- حاوية المحتوى -->
            <div class="layout-page">
                <!-- الشريط العلوي -->
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- البحث -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="bx bx-search fs-4 lh-0"></i>
                                <input type="text"
                                       class="form-control border-0 shadow-none"
                                       placeholder="بحث..."
                                       aria-label="بحث..." />
                            </div>
                        </div>
                        <!-- / البحث -->

                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <li class="nav-item lh-1 me-3">
                                <a class="github-button"
                                   href="https://github.com/themeselection/sneat-html-admin-template-free"
                                   data-icon="octicon-star"
                                   data-size="large"
                                   data-show-count="true"
                                   aria-label="أضف نجمة لـ themeselection/sneat-html-admin-template-free على GitHub">نجمة</a>
                            </li>

                            <!-- المستخدم -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="~/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="~/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">جون دو</span>
                                                    <small class="text-muted">مسؤول</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">ملفي الشخصي</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bx bx-cog me-2"></i>
                                            <span class="align-middle">الإعدادات</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span class="d-flex align-items-center align-middle">
                                                <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                                                <span class="flex-grow-1 align-middle">الفواتير</span>
                                                <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="auth-login-basic.html">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">تسجيل الخروج</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- / المستخدم -->
                        </ul>
                    </div>
                </nav>
                <!-- / الشريط العلوي -->
                <!-- محتوى الصفحة -->
                <div class="content-wrapper">
                    <!-- المحتوى -->
                    @RenderBody()
                    <!-- / المحتوى -->
                    <!-- التذييل -->
                    <footer class="content-footer footer bg-footer-theme" hidden>
                        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                ، صنع بحب من قبل
                                <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
                            </div>
                            <div>
                                <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">الرخصة</a>
                                <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">المزيد من القوالب</a>

                                <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                                   target="_blank"
                                   class="footer-link me-4">التوثيق</a>

                                <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                                   target="_blank"
                                   class="footer-link me-4">الدعم</a>
                            </div>
                        </div>
                    </footer>
                    <!-- / التذييل -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- / محتوى الصفحة -->
            </div>
            <!-- / حاوية المحتوى -->
        </div>

        <!-- التراكب -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / حاوية الصفحة -->
    <!-- زر الترقية -->
    <div class="buy-now" hidden>
        <a href="https://themeselection.com/products/sneat-bootstrap-html-admin-template/"
           target="_blank"
           class="btn btn-danger btn-buy-now">ترقية إلى النسخة المدفوعة</a>
    </div>

    <!-- JavaScript الأساسي -->
    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/assets/vendor/js/menu.js"></script>
    <script src="~/assets/js/main.js"></script>

    <!-- JavaScript خاص بالصفحة -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
