@model IEnumerable<VM.ViewModels.DepartmentVM>
@{
    ViewBag.Title = "قائمة الإدارات";
    Layout = "_Layout";
}

<h2 class="text-center">قائمة الإدارات</h2>
<hr />
<a href="@Url.Action("CreateEdite", "Department", new { TypePage = 1, area = "LookUP" })" class="btn btn-primary btn-sm">
    إنشاء إدارة جديدة
</a>
<form method="get" asp-action="Index" class="row mb-3">
    <div class="col-md-4">
        <input type="text"
               name="search"
               value="@Context.Request.Query["search"]"
               class="form-control"
               placeholder="بحث باسم الإدارة" />
    </div>

    <div class="col-md-4">
        <button type="submit" class="btn btn-primary">
            بحث
        </button>

        <a href="@Url.Action("Index", "Department", new { area = "LookUP" })"
           class="btn btn-secondary">
            عرض الكل
        </a>
    </div>
</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>الاسم</th>
            <th>الحالة</th>
            <th>الاجراءات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NameAr</td>
                <td>
                    @if (!item.IsActive)
                    {
                        <span class="text-danger activateLeave"
                              data-id="@item.Id"
                              data-isactive="true">غير فعال</span>
                    }
                    else
                    {
                        <span class="text-success activateLeave"
                              data-id="@item.Id"
                              data-isactive="false">فعال</span>
                    }
                </td>

                <td>

                    <a href="@Url.Action("CreateEdite", "Department", new { TypePage = 2, DepartmentID = item.Id, area = "LookUP" })" class="btn btn-primary btn-sm">
                        تعديل
                    </a>
                    <a href="@Url.Action("CreateEdite", "Department", new { TypePage = 3, DepartmentID = item.Id, area = "LookUP" })" class="btn btn-primary btn-sm">
                        عرض
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
           $(document).ready(function () {
            $(".activateLeave").click(function () {

                var spanItem = $(this);
                var leaveId = spanItem.data("id");
                var isActive = spanItem.data("isactive"); // <-- هنا
                if(isActive==true){
                      if (confirm("هل أنت متأكد من تفعيل هذه الادارة ؟")) {
                    $.ajax({
                        url: '@Url.Action("ActivateDepartment", "Department", new { area = "LookUP" })',
                        type: 'POST',
                        data: {
                            id: leaveId,
                            isActive: isActive     // <-- إرسال IsActive
                        },
                        success: function (response) {
                            if (response.success) {
                                window.location.href = response.redirectUrl;
                            } else {
                                alert(response.message || "حدث خطأ أثناء التفعيل");
                            }
                        },
                        error: function () {
                            alert("حدث خطأ أثناء الاتصال بالخادم");
                        }
                    });
                }
                } 
                else    {
                       if (confirm("هل أنت متأكد من عدم تفعيل هذه الادارة ؟")) {
                    $.ajax({
                        url: '@Url.Action("ActivateDepartment", "Department", new { area = "LookUP" })',
                        type: 'POST',
                        data: {
                            id: leaveId,
                            isActive: isActive     // <-- إرسال IsActive
                        },
                        success: function (response) {
                            if (response.success) {
                                window.location.href = response.redirectUrl;
                            } else {
                                alert(response.message || "حدث خطأ أثناء عدم التفعيل");
                            }
                        },
                        error: function () {
                            alert("حدث خطأ أثناء الاتصال بالخادم");
                        }
                    });
                }
                }
             
            });
        });


    </script>
}
