@model EF.Models.HrEmployee
@{

    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">الرئيسية/</span>الموظفين </h4>
    @* @using (Html.BeginForm("AddEdite", "EmployeeData", FormMethod.Post, new { area = "Employee", enctype = "multipart/form-data" })) *@
    @using (Html.BeginForm("AddEdite", "EmployeeData", new { area = "Employee" }, FormMethod.Post, true, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <!-- Basic Layout & Basic with Icons -->
        <div class="row">
            <!-- Basic with Icons -->
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">بيانات الموظف</h5>
                        <small class="text-muted float-end">البيانات الاساسية</small>
                    </div>
                    <div class="card-body">

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="EmpCode">كود الموظف</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <span id="EmpCode2" class="input-group-text"><i class="bx bx-user"></i></span>
                                    <input type="text" class="form-control" name="EmpCode" id="EmpCode" value="@Model.EmpCode" placeholder="كود الموظف" aria-label="كود الموظف" aria-describedby="EmpCode2" />
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="Name_AR">إسم الموظف</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <span id="Name_AR2" class="input-group-text">
                                        <i class="bx bx-user"></i>
                                    </span>
                                    <input type="text" name="Name_AR" id="Name_AR" value="@Model.NameAr" class="form-control" placeholder="John Doe" aria-label="John Doe" aria-describedby="Name_AR2" />
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="Nid">الرقم القومي</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <span id="Nid2" class="input-group-text">
                                        <i class="bx bx-buildings"></i>
                                    </span>
                                    <input type="text" name="Nid" id="Nid" value="@Model.Nid" class="form-control" placeholder="الرقم القومي" aria-label="الرقم القومي" aria-describedby="Nid2" />
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="formFile" class="col-sm-2 col-form-label">تحميل القومي</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="file" id="formFile" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="Email">البريد الالكتروني</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <input type="text"
                                           name="Email" id="Email" value="@Model.Email"
                                           class="form-control"
                                           placeholder="john.doe"
                                           aria-label="john.doe"
                                           aria-describedby="Email2" />
                                    <span class="input-group-text" id="Email2">@@gmail.com</span>
                                </div>
                                <div class="form-text">يمكنك استخدام الحروف، الأرقام والنقاط (.)</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 form-label" for="PhoneNumber">الهاتف</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <span id="PhoneNumber2" class="input-group-text">
                                        <i class="bx bx-phone"></i>
                                    </span>
                                    <input type="text" name="PhoneNumber" id="PhoneNumber" value="@Model.PhoneNumber" class="form-control phone-mask" placeholder="الهاتف" aria-label="الهاتف" aria-describedby="PhoneNumber2" />
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 form-label" for="AddressAr">العنوان</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <span id="AddressAr2" class="input-group-text">
                                        <i class="bx bx-comment"></i>
                                    </span>
                                    <textarea name="AddressAr" id="AddressAr"
                                          class="form-control"
                                          placeholder="العنوان"
                                          aria-label="العنوان"
                                          aria-describedby="AddressAr2">@Model.AddressAr</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="card-body">
                                <div class="form-check form-switch mb-2">
                                    <input name="IsActive" id="IsActive" checked="@Model.IsActive" class="form-check-input" type="checkbox" />
                                    <label class="col-sm-2 form-label" for="IsActive">الحالة</label>
                                </div>
                                <div class="form-check form-switch mb-2">
                                    <input name="IsManager" id="IsManager" checked="@Model.IsManager" class="form-check-input" type="checkbox" />
                                    <label class="col-sm-2 form-label" for="IsManager">مدير ادارة</label>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <!-- Basic Layout -->
            <div class="col-xxl">

                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">بيانات الوظيفة</h5>
                        <small class="text-muted float-end">Default label</small>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="AppointmentDate">تاريخ التعيين</label>
                            <div class="col-sm-10">
                                <input name="AppointmentDate" id="AppointmentDate"
                                       value="@(Model.AppointmentDate.HasValue? Model.AppointmentDate.Value.ToString("yyyy-MM-dd") : "")"
                                       class="form-control" type="date">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="CurrentBranchDeptId" class="col-sm-2 col-form-label">الإدارة</label>
                            <div class="col-sm-10">
                                <!-- الحقل اللي المستخدم بيكتب فيه -->
                                <input class="form-control" list="CurrentBranchDeptdatalist" id="CurrentBranchDeptText"
                                       placeholder="اكتب للبحث..." value="@Model.DepartmentName" />

                                <!-- الحقل الخفي اللي بيخزن الـ Id الفعلي -->
                                <input type="hidden" id="CurrentBranchDeptId" name="CurrentBranchDeptId" value="@Model.CurrentBranchDeptId" />

                                <datalist id="CurrentBranchDeptdatalist">
                                    @foreach (var item in ViewBag.ListHrDepartment)
                                    {
                                        <option value="@item.Text" data-id="@item.Value"></option>
                                    }
                                </datalist>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <label for="CurrentJobId" class="col-sm-2 col-form-label">الوظيفة الحالية</label>
                            <div class="col-sm-10">
                                <!-- المستخدم يكتب ويبحث هنا -->
                                <input class="form-control" list="ListHrJobsDatalistOptions"
                                       id="CurrentJobText" placeholder="اكتب للبحث..."
                                       value="@Model.JobName" />

                                <!-- الـ Id الفعلي اللي هيتبعت في الفورم -->
                                <input type="hidden" id="CurrentJobId" name="CurrentJobId" value="@Model.CurrentJobId" />

                                <datalist id="ListHrJobsDatalistOptions">
                                    @foreach (var item in ViewBag.ListHrJobs)
                                    {
                                        <option value="@item.Text" data-id="@item.Value"></option>
                                    }
                                </datalist>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">بيانات المرتب</h5>
                        <small class="text-muted float-end">المرتبات</small>
                    </div>
                    <div class="card-body">

                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label" for="CurrentSalary">قيمة المرتب</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="number" name="CurrentSalary" id="CurrentSalary" value="@Model.CurrentSalary" oninput="handleInput(this)" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="Year">لسنة</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="Year" name="Year">
                                    <option value="">اختر السنة</option>
                                </select>

                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="Month">الشهر</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="Month" name="Month">
                                    <option value="">اختر الشهر</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">نوع القبض</label>
                            <div class="col-sm-10">
                                <div class="form-check form-check-inline mt-3">
                                    <input class="form-check-input" type="radio" name="Isbank" id="IsbankTrue" value="true"
                                           @(Model.Isbank == true ? "checked" : "") />
                                    <label class="form-check-label" for="IsbankTrue">بنك</label>
                                </div>
                                <div class="form-check form-check-inline mt-3">
                                    <input class="form-check-input" type="radio" name="Isbank" id="IsbankFalse" value="false"
                                           @(Model.Isbank == false ? "checked" : "") />
                                    <label class="form-check-label" for="IsbankFalse">خزينة</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">بيانات التأمين</h5>
                        <small class="text-muted float-end">Default label</small>
                    </div>
                    <div class="card-body">

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="InsuranceNumber">الرقم التأميني</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" name="InsuranceNumber" id="InsuranceNumber" value="@Model.InsuranceNumber" placeholder="الرقم التأميني" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="DateIn">تاريخ الدخول</label>
                            <div class="col-sm-10">
                                <input name="DateIn" id="DateIn"
                                       value="@(Model.DateIn.HasValue? Model.DateIn.Value.ToString("yyyy-MM-dd") : "")"
                                       class="form-control" type="date">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="DateOut">تاريخ الخروج</label>
                            <div class="col-sm-10">
                                <input name="DateOut" id="DateOut"
                                       value="@(Model.DateOut.HasValue? Model.DateOut.Value.ToString("yyyy-MM-dd") : "")"
                                       class="form-control" type="date">
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">حفــــظ</button>
                </div>
            </div>
        </div>
    }

</div>

<script src="~/modules/employeedata-module.js"></script>

<script>

    //الوظيفة الحالية
    const jobInput = document.getElementById("CurrentJobText");
    const hiddenJobInput = document.getElementById("CurrentJobId");
    const jobOptions = document.querySelectorAll("#ListHrJobsDatalistOptions option");

    jobInput.addEventListener("input", function () {
        const val = this.value;
        const option = Array.from(jobOptions).find(opt => opt.value === val);
        if (option) {
            hiddenJobInput.value = option.getAttribute("data-id");
        } else {
            hiddenJobInput.value = ""; // لو المستخدم كتب حاجة مش موجودة
        }
    });

    //الشهر
    const modelMonth = parseInt("@Model.Month"); // الرقم القادم من الكنترولر
    const months = [
        "يناير", "فبراير", "مارس", "أبريل", "مايو", "يونيو",
        "يوليو", "أغسطس", "سبتمبر", "أكتوبر", "نوفمبر", "ديسمبر"
    ];

    const monthSelect = document.getElementById("Month");
    for (let i = 0; i < months.length; i++)
    {
        const opt = document.createElement("option");
        opt.value = i + 1; // 1 إلى 12
        opt.textContent = months[i];
        if (modelMonth === i + 1) {
            opt.selected = true; // يختار الشهر القادم من الكنترولر
        }
        monthSelect.appendChild(opt);
    }

    // السنة
    // القيمة القادمة من الكنترولر
    const modelYear = @Model.Year;
    const select = document.getElementById("Year");
    const currentYear = new Date().getFullYear();

    for (let y = currentYear; y >= 1980; y--)
    {
        const opt = document.createElement("option");
        opt.value = y;
        opt.textContent = y;
        if (y === modelYear) {
            opt.selected = true; // اختيار السنة القادمة من الكنترولر
        }
        select.appendChild(opt);
    }

</script>